* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'font';
    font-size: 18px;
}

body {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@font-face {
    font-family: 'font';
    src: url('../../../assets/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf');
}

.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:60%;
    box-shadow:
    12px 8px 10px rgba(0, 0, 0, 0.274),
    -12px -8px 15px rgb(255, 255, 255);
    border: 1px;
    border-radius: 8px;
    background: linear-gradient(145deg, #EFEFEF, #afcfeb);
    gap: 30px;
    padding: 20px;
}

.linha1, .linha2, .linha3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    padding: 10px;
}


.linha1 input, .linha2 input, select{
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
}

select option:nth-child(1){
    color: #959595;
}

.linha2 div {
    display: flex;
    gap: 5px;
    width: 106%;
}

.linha3 textarea{
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    height: 100px;
    outline: none;
}

.confirmar{
    background-color: #125671;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 2px 5px 0px #838383;
    transition: 0.3s;
    padding: 16px 90px;
    display: flex;
    margin: 34px auto 0;
    color: white;
    text-transform: uppercase;
}

.confirmar:hover{
    opacity: 80%;
}