* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'font';
}

@font-face {
    font-family: 'font';
    src: url('../../../assets/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf');
}

body {
    display: flex;
    background: #EFEFEF;
    gap: 30px;
}

.popup div {
    display: flex;
    background-color: white;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}

.popup div.informacoes {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.popup img {
    width: 200px;
}

#overlay {
    visibility: visible;
    position: fixed;
    z-index: 998;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6)
}

.details {
    z-index: 999;
}



.crud-products {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-top: 60px;
    gap: 30px;
}

.crud-products img {
    width: 20px;
}

.crud-products section nav {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 30px;
}

.crud-products section nav #line {
    border-radius: 4px;
    width: 7px;
    height: 50px;
    background-color: #125671;
}

.search img {
    width: 30px;
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 12px 20px;
    width: 70%;
    min-width: 400px;
    border-radius: 10px;
}

.search input {
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
}

section:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products .product {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    background-color: #125671;
    cursor: pointer;
    transition: 0.3s;
    min-width: 575px;
}

.product p {
    text-align: center;
    width: 20%;
}

.product div {
    display: flex;
    gap: 10px;
}

.product:hover {
    opacity: 95%;
    transform: scale(1.01);
}

.product button {
    background-color: #EFEFEF;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.product button:hover {
    box-shadow: -1px -1px 15px rgb(255, 255, 255);
}

.product button:active {
    box-shadow: inset 0px 4px 5px 0px #838383a8;
}

#img-product {
    width: 50px;
}