
header {
    background-color: #011526;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 3%;
    padding: 0px 20px;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
}

header div:hover strong {
    text-decoration: underline;
}

header div p {
    max-width: 50%;
}

header img {
    width: 130px;
}

header div img {
    width: 35px;
}

@media (max-width: 710px) {
    header {
        display: flex;
        justify-content: center;
    }

    header div {
        display: none;
    }
}