* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'font';
}

body {
    background-color: #EFEFEF;
}

@font-face {
    font-family: 'font';
    src: url('../../assets/fonts/InstrumentSans-VariableFont_wdth\,wght.ttf');
}

.header-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(145deg, #EFEFEF, #afcfeb);
    box-shadow: 9px 9px 29px #939393,
        -9px -9px 29px #ffffff;
    border-radius: 0 0 30px 30px;
}

.logo img {
    margin-left: 50px;
    width: 130px;
}

.busca .pes>input {
    outline: none;
    padding: 6px 12px;
    padding-right: 300px;
    border: none;
    border-radius: 5px;
    color: black;
    box-shadow: -2px 2px 5px 0px #838383;
}

.pes {
    display: flex;
    gap: 10px;

}

.pes button {
    background: none;
    border: none;
    padding: 1px;
    cursor: pointer;
}

.pes button:hover {
    opacity: 80%;
}

.icon {
    gap: 8px;
    display: flex;
    max-width: 10%;
}

.icon a:hover {
    text-decoration: underline;
}

.icon img {
    width: 35px;
}

.header-container p, a {
    color: black;
    text-decoration: none;
}

.carrinho{
    background: none;
    border: none;
    padding: 1px;
    cursor: pointer;
}

.carrinho:hover{
    opacity: 80%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-conteudo {
    background-color: white;
    margin: 0.5% 0 0.5% 67%;
    border-radius: 8px;
    width: 33%;
    max-width: 100%;
}

.fechar {
    position: static;
    padding: 5%;
    top: 8%;
    right: 15%;
    font-size: 20px;
    gap: 10px;
    display: flex;
    font-weight: bold;
    cursor: pointer;
}

.fechar p {
    color: #125671;
}

.popup h2 {
    text-align: center;
    margin: 150px 0 0 0;
    line-height: 2.5;
    min-width: 300px;
}

.car {
    background-color: #125671;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: -2px 2px 5px 0px #838383;
    transition: 0.3s;
    width: 50%;
    padding: 2%;
    margin:0 0 0 118px;
}

.car:hover {
    opacity: 80%;
}

.bloqueado {
    overflow: hidden;
}

.title {
    margin: 80px;
    gap: 20px;
    align-items: center;
    display: flex;
}

#barra-reta {
    border-radius: 4px;
    width: 7px;
    height: 50px;
    background-color: #125671;
}

.text{
    padding-bottom: 500px;
    margin: 160px;
}